<!DOCTYPE HTML>
<head>
	<meta charset = "utf-8">
	<title> Регистрация студентов </title>
	<link href="./css/style.css" rel="stylesheet">
</head>

<body>
	<form action = "/index.php" method = "post"> 


		<div>
			<span class = "bold">Имя</span>
			<br>
			<input type = "text"  name= "FirstName" placeholder = "Иван"  maxlength ="20" required> 
		</div>
		
		<div>
			<span class = "bold">Фамилия</span>
			<br>
			<input type = "text"  name= "LastName" placeholder ="Иванов"  maxlength ="20" required>
		</div>
		
		<div>
			<span class = "bold">Номер группы</span>
			<br>
			<input type = "text" name = "groupId"  maxlength ="20" required>
		</div>
		
		<div>
			<span class ="bold">Сумма баллов</span>
			<br>
			<input type = "number" name ="points" min="150" max ="300" placeholder ="От 150 до 300" required>
		</div>
		
		<div>
			<span class = "bold">Электронная почта</span>
			<br>
			<input type = "email" name= "email" placeholder ="example@example.com" required>
		</div>
		
		<div>
			<span class = "bold">Пол</span>
			<br>
			<span class = "thin">Мужской</span>
			<input type = "radio"   name ="sex" value = "Male" checked>
			<br>
			<span class = "thin">Женский</span>
			<input type = "radio"   name ="sex" value = "Female" >
		</div>
		
		<div>
		<span class ="bold">Регистрация </span>
		<br>
		<span class = "thin">Местный
		<input type = "radio"   name ="registration" value = "resident" checked>
		<br>
		Иногородний</span>
		<input type = "radio"   name ="registration" value = "nonresident" >
		</div>
		<input type = "submit">
	</form>
</body>